In [ ]:
''' Rathod Shruti A.
     216270307096    '''

'''Write a Pandas program to implement following operation to create
a dataframe from a dictionary and display it'''

import numpy as np
import pandas as pd

data = pd.DataFrame({'rollno': [11,12,13,14,15], 'sname': ['ram','siya','mira','jay','dev'], 'sem':[5,2,3,1,6]})

print("DataFrame From Dictionary: \n\n",data)

In [ ]:
''' Rathod Shruti A.
     216270307096    '''

'''Write a Pandas program to implement following operation  to sort the DataFrame first 
by 'name' in ascending order '''

data_new = data.sort_values(by = ['sname'], ascending=True)
print(data_new)

In [ ]:
''' Rathod Shruti A.
     216270307096    '''

'''Write a Pandas program to implement following operation to delete the one specific
column from the DataFrame'''

del data['sem']
print(data)

In [ ]:
''' Rathod Shruti A.
     216270307096    '''

'''Write a Pandas program to implement following operation to write a DataFrame to CSV
file using tab separator '''

dataframe = pd.DataFrame({'rollno': [11,12,13,14,15], 'sname': ['ram','siya','mira','jay','dev'], 'sem':[5,2,3,1,6], 'department':['computer','civil','electrical','computer','civil']})

print(dataframe)

file_path = "student_dataset.csv"

dataframe.to_csv(file_path, index=False, sep=",")